@model MvcMusicStore.Models.Genre
 
@{
    ViewBag.Title = "Browse Albums";
}
 
<div class="genre">
    <h3><em>@Model.Name</em> Albums</h3>

    @{Html.RenderPartial("AlbumsPartial", Model.Albums);}
</div>
